@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
}

.hero {
    display: grid;
    grid-template-columns: minmax(300px, 2fr) 2fr; 
    grid-auto-rows: 550px; /* Para que el contenido se expanda y se ajuste a la altura de la imagen */
    border-bottom: 1px solid #ddd;
}

.hero-image {
    width: 100%;
    /* border: 2px solid #000; */
    height: 100%;
    object-fit: cover; 
}

.info {
    align-self: center;
}

.info-title { 
    width: 100%;
}

.slogan {
    font-size: 2rem;
}

.info-subtitle {
    color: #333;
    font-size: 1.1rem;
    margin-bottom: 24px;
    text-align: justify;
}

.info-button {
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: #c24a32;
    font-weight: bolder;
    padding: 12px 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.personajes {
    margin: 80px 0;
}

.personajes-title {
    color: #737668;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

.personajes-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 180px));
    grid-auto-rows: 1fr;
    gap: 10px;
    place-content: center;
}

.personajes-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #c4c6bc;
}

.personajes-grid img:nth-child(1) {
    border-top-left-radius: 50px;
}

.personajes-grid img:nth-child(4) {
    object-position: right;
}

.personajes-item__big {
    grid-area: 1 / 1 / 3 / 3;
}

.menu {
    margin-bottom: 200px;
}

.menu-title {

    color: #333;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.menu-grid {
    display: grid;
    justify-content: center;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
}

.menu-grid-item {
    background-color: rgba(143, 151, 167, 0.1);
    padding: 15px;
    border-radius: 10px;
    border-top-left-radius: 40px;
}

.menu-grid-item:nth-child(even) {
    border-top-left-radius: 10px;
    border-top-right-radius: 40px;
}

.menu-grid-item img {
    width: 100%;
    height: 100%;   
    object-fit: contain;
}

@media (max-width: 1024px) {
    main {
        width: 90%;
        margin: 0 auto;
    }

    .hero {
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }

    .hero-image {
        width: 350px;
        /* border: 2px solid #000; */
        height: 450px;
        object-fit: cover; 
    }
}


@media (max-width: 768px) {
    .hero {
        grid-template-columns: minmax(300px, 500px);
        justify-content: center;
    }
    .hero-image {
        display: none;
    }

    .personajes-grid {
        grid-template-columns: repeat(auto-fit, minmax(75px, 150px));
    }
}